StateService/WebContent/WEB-INF/stateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="stateService" targetNamespace="http://www.teiid.org/stateService/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.teiid.org/stateService/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsaws="http://www.w3.org/2005/08/addressing">

  <wsdl:types>  
    <xsd:schema targetNamespace="http://www.teiid.org/stateService/">
      <xsd:element name="GetAllStateInfo">
        <xsd:complexType>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAllStateInfoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AllStateInfo" type="tns:StateInfo" minOccurs="50" maxOccurs="50"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>    
      <xsd:element name="GetStateInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="stateCode" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetStateInfoFault">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="GetStateInfoFault"
                    type="xsd:string">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
      <xsd:element name="GetStateInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="StateInfo" type="tns:StateInfo" minOccurs="1" maxOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="StateInfo">
      	<xsd:sequence>
      		<xsd:element name="Name" type="xsd:string"></xsd:element>
      		<xsd:element name="Abbreviation" type="xsd:string"></xsd:element>
      		<xsd:element name="Capital" type="xsd:string"></xsd:element>
      		<xsd:element name="YearOfStatehood" type="xsd:integer"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

    </xsd:schema>
  </wsdl:types>


  <wsdl:message name="GetStateInfoFault_Exception">
    <wsdl:part element="tns:GetStateInfoFault" name="GetStateInfoFault_Exception"/>
  </wsdl:message>
  <wsdl:message name="GetAllStateInfoResponse">
    <wsdl:part element="tns:GetAllStateInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetStateInfoResponse">
    <wsdl:part element="tns:GetStateInfoResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAllStateInfo">
    <wsdl:part element="tns:GetAllStateInfo" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetStateInfo">
    <wsdl:part element="tns:GetStateInfo" name="parameters"/>
  </wsdl:message>
  
  
  <wsdl:portType name="stateService">
    <wsdl:operation name="GetAllStateInfo">
      <wsdl:input message="tns:GetAllStateInfo" name="GetAllStateInfo"/>
      <wsdl:output message="tns:GetAllStateInfoResponse" name="GetAllStateInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetStateInfo">
      <wsdl:input message="tns:GetStateInfo" name="GetStateInfo"/>
      <wsdl:output message="tns:GetStateInfoResponse" name="GetStateInfoResponse"/>
      <wsdl:fault message="tns:GetStateInfoFault_Exception" name="GetStateInfoFault_Exception"/>
    </wsdl:operation>
  </wsdl:portType>
  
  
  
  
  
  <wsdl:binding name="stateServiceSoapBinding" type="tns:stateService">
    <wsp:PolicyReference URI="#SecurityServiceUsernameUnsecureTransportPolicy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllStateInfo">
      <soap:operation soapAction="http://www.teiid.org/stateService/GetStateInfo" style="document"/>
      <wsdl:input name="GetAllStateInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAllStateInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStateInfo">
      <soap:operation soapAction="http://www.teiid.org/stateService/GetStateInfo" style="document"/>
      <wsdl:input name="GetStateInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetStateInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GetStateInfoFault_Exception">
        <soap:fault name="GetStateInfoFault_Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="stateService">
    <wsdl:port binding="tns:stateServiceSoapBinding" name="StateServiceImplPort">
      <soap:address location="http://localhost:8080/StateService/StateService"/>
    </wsdl:port>
  </wsdl:service>
  
  
  <wsp:Policy wsu:Id="SecurityServiceUsernameUnsecureTransportPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

</wsdl:definitions>
